Repository dagengine/dagengine: changes, and which Codecov flags are due for each by the changed paths.
All: core, providers, orchestration

feat: initial release
  release.config.js
Due: none

feat: initial release
  .github/workflows/release-stable.yml
  release.config.js
Due: none

Notes added by 'git notes add'
  ea85f1a64a0e8d8e2a336f66322ff2397c3ed512
Due: none

feat: first ci
  examples/fundamentals/08-error-handling/08-error-handling.ts
Due: none

feat: second commit
  examples/fundamentals/08-error-handling/08-error-handling.ts
Due: none

fix: sync package-lock.json version
  package-lock.json
Due: none

feat: first ci (#1)
  examples/fundamentals/08-error-handling/08-error-handling.ts
  package-lock.json
Due: none

Notes added by 'git notes add'
  a0e7c6985bed15cd5adcd69bb5255bbc33a65af2
Due: none

Notes added by 'git notes add'
  ae5050bbf4149646f1683503b8998725b0153486
Due: none

Notes added by 'git notes add'
  f3f3eeaf9640982d5a00cb1b88fa019bb1592d37
Due: none

Notes added by 'git notes add'
  9d51c85e26351d287eecbc1b988955f1e12d520b
Due: none

Notes added by 'git notes add'
  ccd4a50d9af70bce4a19f81fdf9b02c8714ef0e9
Due: none

feat: initial beta release
  .github/workflows/release.yml
  release.config.js
Due: none

feat: initial beta release without pushing changelog
  .github/workflows/release.yml
  release.config.js
Due: none

Notes added by 'git notes add'
  63c70c9b7031c20abd10ebf4aac0ceb5690add8f
Due: none

Notes added by 'git notes add'
  48761262feb98c199380320ca2c3beab253a0797
Due: none

chore: removed validate from package json
  package.json
Due: none

feat: initial beta release
  docs/.vitepress/config.mjs
  package.json
Due: none

Notes added by 'git notes add'
  70515736059395d2b7ca162f6ebaea37e8f6037e
Due: none

docs: improved docs
  examples/package-lock.json
  examples/package.json
Due: none

docs: improved docs
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  package.json
Due: none

docs: improved docs
  README.md
Due: none

fix: used correct anthropic sonnet model in examples
  README.md
  docs/api/configuration.md
  docs/api/hooks.md
  docs/api/types.md
  docs/examples/fundamentals/00-quickstart.md
  docs/examples/fundamentals/03-section-vs-global.md
  docs/examples/fundamentals/05-skip-logic.md
  docs/examples/fundamentals/06-providers.md
  docs/index.md
  examples/.env.example
  examples/fundamentals/00-quickstart/README.md
  examples/fundamentals/00-quickstart/config.ts
  examples/fundamentals/00-quickstart/prompts.ts
  examples/fundamentals/00-quickstart/types.ts
  examples/fundamentals/00-quickstart/utils.ts
  examples/fundamentals/02-dependencies/utils.ts
  examples/fundamentals/03-section-vs-global/03-section-vs-global.ts
  examples/fundamentals/03-section-vs-global/README.md
  examples/fundamentals/04-transformations/04-transformations.ts
  examples/fundamentals/05-skip-logic/05-skip-logic.ts
  examples/fundamentals/05-skip-logic/README.md
  examples/fundamentals/06-providers/06-providers.ts
  examples/fundamentals/06-providers/README.md
  package-lock.json
Due: none

docs: improved docs (#4)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/api/configuration.md
  docs/api/hooks.md
  docs/api/types.md
  docs/examples/fundamentals/00-quickstart.md
  docs/examples/fundamentals/03-section-vs-global.md
  docs/examples/fundamentals/05-skip-logic.md
  docs/examples/fundamentals/06-providers.md
  docs/index.md
  examples/.env.example
  examples/fundamentals/00-quickstart/README.md
  examples/fundamentals/00-quickstart/config.ts
  examples/fundamentals/00-quickstart/prompts.ts
  examples/fundamentals/00-quickstart/types.ts
  examples/fundamentals/00-quickstart/utils.ts
  examples/fundamentals/02-dependencies/utils.ts
  examples/fundamentals/03-section-vs-global/03-section-vs-global.ts
  examples/fundamentals/03-section-vs-global/README.md
  examples/fundamentals/04-transformations/04-transformations.ts
  examples/fundamentals/05-skip-logic/05-skip-logic.ts
  examples/fundamentals/05-skip-logic/README.md
  examples/fundamentals/06-providers/06-providers.ts
  examples/fundamentals/06-providers/README.md
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
Due: none

docs: fixed examples
  README.md
  docs/guide/quick-start.md
  docs/index.md
  src/providers/ai/anthropic.ts
Due: providers

docs: fixed link in docs
  README.md
  docs/api/configuration.md
  docs/api/types.md
  docs/examples/fundamentals/06-providers.md
  docs/index.md
  examples/fundamentals/06-providers/README.md
  src/providers/ai/gemini.ts
  src/providers/gateway/portkey-adapter.ts
  tests/costs/cost-tracking.test.ts
  tests/providers/gemini.test.ts
Due: providers

docs: added ;
  src/providers/ai/anthropic.ts
Due: providers

docs: removed console
  src/providers/ai/anthropic.ts
Due: providers

docs: fixed examples (#5)
  README.md
  docs/api/configuration.md
  docs/api/types.md
  docs/examples/fundamentals/06-providers.md
  docs/guide/quick-start.md
  docs/index.md
  examples/fundamentals/06-providers/README.md
  src/providers/ai/anthropic.ts
  src/providers/ai/gemini.ts
  src/providers/gateway/portkey-adapter.ts
  tests/costs/cost-tracking.test.ts
  tests/providers/gemini.test.ts
Due: providers

feat: added dependencies in global dimension transform hook
  src/core/execution/phase-executor.ts
  src/core/execution/transformation-manager.ts
  tests/hooks/transformations.test.ts
Due: core

feat: added dependencies in global dimension transform hook (#6)
  src/core/execution/phase-executor.ts
  src/core/execution/transformation-manager.ts
  tests/hooks/transformations.test.ts
Due: core

Notes added by 'git notes add'
  704cc27e69e430c32e42e0ffa641150422a1c88c
Due: none

feat: enable dimension parallel execution
  src/core/execution/phase-executor.ts
  tests/paralel-dimension-execution.test.ts
Due: core

fix: fixed formating
  src/core/execution/phase-executor.ts
Due: core

Path conditions:
  core: any of: src/core/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
  providers: any of: src/providers/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
  orchestration: any of: src/orchestration/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
