Repository dagengine/dagengine: changes, and which Codecov flags are due for each by the changed paths.
All: core, providers, orchestration

feat: enable dimension parallel execution (#9)
  src/core/execution/phase-executor.ts
  tests/paralel-dimension-execution.test.ts
Due: core

chore: changed release to use nom install
  .github/workflows/release.yml
Due: none

chore: changed release to use nom install (#10)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  584631b763c344c693a55cf5ff120b9d7fc87ea3
Due: none

chore(deps): upgrade vulnerable dev and runtime dependencies
  docs/package-lock.json
  examples/package-lock.json
  package-lock.json
  package.json
Due: none

chore: allow BlueOak-1.0.0 licence (jackspeak via glob) and apply prettier 3.9 formatting
  .github/workflows/ci.yml
  src/core/lifecycle/hook-executor.ts
  src/core/shared/types.ts
  src/providers/gateway/portkey-adapter.ts
Due: core, providers

ci: bump ossf/scorecard-action to v2.4.4 (v2.4.0 image no longer pullable from gcr.io)
  .github/workflows/ci.yml
Due: none

Path conditions:
  core: any of: src/core/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
  providers: any of: src/providers/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
  orchestration: any of: src/orchestration/, but not: node_modules, dist, build, lib, coverage, **/*.test.ts, **/*.spec.ts, **/*.d.ts, **/types.ts, **/index.ts, **/*.config.ts, **/*.config.js, .github, docs
